
<div class="container">
    <h4 class="recommendation-title">Recommendations</h4>
    <div class="row mt-4">
        <div class="col-md-2 col-6 mb-4">
            <div class="movie-card">
                <img src="./photo_2024-07-24_12-23-01.jpg" alt="The Good Doctor">
            </div>
            <div class="movie-details">
                <p class="movie-title">The Waking Dead </p>
                <p class="movie-date">Sep 25, 2017</p>
            </div>
        </div>
        <div class="col-md-2 col-6 mb-4">
            <div class="movie-card">
                <img src="./photo_2024-07-24_12-23-01.jpg" alt="The Good Doctor">
            </div>
            <div class="movie-details">
                <p class="movie-title">The Waking Dead </p>
                <p class="movie-date">Sep 25, 2017</p>
            </div>
        </div>
        <div class="col-md-2 col-6 mb-4">
            <div class="movie-card">
                <img src="./photo_2024-07-24_12-23-01.jpg" alt="The Good Doctor">
            </div>
            <div class="movie-details">
                <p class="movie-title">The Waking Dead </p>
                <p class="movie-date">Sep 25, 2017</p>
            </div>
        </div>
        <div class="col-md-2 col-6 mb-4">
            <div class="movie-card">
                <img src="./photo_2024-07-24_12-23-01.jpg" alt="The Good Doctor">
            </div>
            <div class="movie-details">
                <p class="movie-title">The Waking Dead </p>
                <p class="movie-date">Sep 25, 2017</p>
            </div>
        </div>
        <div class="col-md-2 col-6 mb-4">
            <div class="movie-card">
                <img src="./photo_2024-07-24_12-23-01.jpg" alt="The Good Doctor">
            </div>
            <div class="movie-details">
                <p class="movie-title">The Waking Dead </p>
                <p class="movie-date">Sep 25, 2017</p>
            </div>
        </div>
        <div class="col-md-2 col-6 mb-4">
            <div class="movie-card">
                <img src="./photo_2024-07-24_12-23-01.jpg" alt="The Good Doctor">
            </div>
            <div class="movie-details">
                <p class="movie-title">The Waking Dead </p>
                <p class="movie-date">Sep 25, 2017</p>
            </div>
        </div>
    </div>
</div>


